@inherits LayoutComponentBase

<div class="h-screen flex flex-col md:flex-row">
    <div class="w-full md:w-1/5 bg-gray-800 text-white">
        <NavMenu />
    </div>
    <main class="flex-grow p-6">
        @Body
    </main>
</div>