<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

  <targets>
    <!-- File Target (R01) -->
    <target name="file" xsi:type="File"
            fileName="logs/app-${shortdate}.log"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}"
            archiveFileName="logs/archives/app-${shortdate}-{##}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false" />

    <!-- Console Target (R02) -->
    <target name="console" xsi:type="ColoredConsole"
            layout="${time} | ${level:uppercase=true} | ${message} ${exception:format=tostring}" />

    <!-- Database Target (R03) - SQL Server Example -->
    <target name="database" xsi:type="Database"
            keepConnection="true"
            useTransactions="false"
            dbProvider="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0"
            connectionString="Data Source=DevI9;Initial Catalog=CRM;Integrated Security=True"
            commandText="INSERT INTO Logs (Time, Level, Logger, Message, Exception) VALUES (@time, @level, @logger, @message, @exception)">
      <parameter name="@time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
      <parameter name="@level" layout="${level:uppercase=true}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@exception" layout="${exception:format=tostring}" />
    </target>

    <!-- Visual Studio Test Output (R04) -->
    <target name="debug" xsi:type="Debugger"
            layout="${time} | ${level} | ${logger} | ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file,console,debug" />
    <logger name="*" minlevel="Info" writeTo="database" />
  </rules>
</nlog>