@inherits LayoutComponentBase

<div class="h-screen flex flex-col md:flex-row">
    <div class="w-full md:w-1/5 bg-gray-800 text-white">
        <NavMenu />
    </div>
    <main class="flex-grow p-6">
        @Body
    </main>
    
    <!-- Select2 and jQuery scripts added here -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- This script defines the 'setupSelect2' function for Blazor interop -->
    <script>
        window.setupSelect2 = (selector) => {
            $(selector).select2();
        };
    </script>
</div>